apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    app: rabbitmq
spec:
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag}}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
          - containerPort: 5672
            name: rabbitmq
          - containerPort: 15672
            name: rabbitmq-ui
        env: 
          - name: {{ .Values.auth.userlabel }}
            value: {{ .Values.auth.username }}
          - name: {{ .Values.auth.passwordlabel }}
            value: {{ .Values.auth.password }}
